/* ----------------------common css------------------------------- */
a{
    text-decoration: none;
    color: black;   
}
p{font-size: 17px;}
*{
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}
ul,li
{
    margin-bottom: 0px;
}
.container-div{
    max-width:1274px;
    margin: 0 auto;
}
.font-Poppins
{
    font-family: 'Poppins', sans-serif !important;
}
.font-Roboto
{
    font-family: 'Roboto', sans-serif !important;
}
.background
{
    background-color:#EAF8FF;
}
/*-------------------------------- button css---------------------------------- */
.blue-button
{
    background-color:#CEE5F1 ;
    padding: auto;
}
:hover.blue-button
{
    background-color: #EF0A21;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.5s ease-in-out;
}
.blue-button:hover span svg path{ fill :  white; }
.red-button
{
    background-color: #EF0A21;
    color: white;
    padding: auto;
}
:hover.red-button {
    background-color: #CEE5F1;
    color: #EF0A21;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.5s ease-in-out;
}
.red-button:hover span svg path{ fill :  #EF0A21; }
/*------------------------------------------ title css=====-------------------------------- */
.maintitle
{
    font-weight: 700;
    color: #111C38;
    position: relative;
    z-index: 10;
}
.shadowtext
{
   
    text-shadow: -1px 0 rgba(17, 28, 56 , 0.2), 0 1px rgba(17, 28, 56 , 0.2), 1px 0 rgba(17, 28, 56 , 0.2), 0 -1px rgba(17, 28, 56 , 0.2);   
}
.headerfont
{
    font-size: 20px;
}
.title
{
   font-size: 43px;
    width: 100%;
    font-weight: 700;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -7px;

}
.carddescription
{
    font-size: 20px;
}
.pcardtitle
{
    font-size: 1.30rem;
}
.thirdtitle
{
    font-weight: 700;
    font-size: 58px;
    color: #fff;
    position: absolute;
  
    top: 14px;
    left: 455px;
}
.forthtitle
{
    font-weight: 700;
    font-size: 58px;
    color: #fff;
    position: absolute;
  
    top: 9px;
    left: 224px;
}
.fifthtitle
{
    font-weight: 700;
    font-size: 55px;
    color: #fff;
    position: absolute;
  
    top: -34px;
    left: 0px;
}
.proptext .proptitle
{
    color: #EAF8FF;
}
.proptitle
{
    font-weight: 700;
    font-size: 44px;
    color: #fff;
    position: absolute;
    font-family: 'Barlow', sans-serif;
    top: 26px;
    left: 50%;
    transform: translate(-50%, 0);
}
.proptitle2
{
    font-weight: 700;
    font-size: 44px;
    color: #fff;
    position: absolute;
    font-family: 'Barlow', sans-serif;
    top: -24px;
    left: 50%;
    transform: translate(-50%, 0);
}
.gallerytitle
{
    font-weight: 700;
    font-size: 44px;
    color: #EAF8FF;
    position: absolute;
    font-family: 'Barlow', sans-serif;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
}
.heatertitle
{
    font-weight: 700;
    font-size: 41px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    top: 51px;

}
.titlecolor .factortitle{
    color: #EAF8FF;
}
.titlecolor .instanttitle{
    color: #EAF8FF;
}
.factortitle
{
        width:100%;
        font-weight: 700;

        font-size: 41px;
        color: #fff;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0px);
        top: 18px;
        margin-bottom: 0.5rem;
}
.methodtitle
{
    font-weight: 700;
    font-size: 41px;
    color: #EAF8FF;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    top: -28px;
}
/* .instanttitle
{
        width: 100%;
        font-weight: 700;

        font-size: 40px;
        color: #fff;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0px);
        top: -29px;
} */
.tankheader
{
    width: 100%;
    font-weight: 700;
     font-size: 40px;
     color: #fff;
     position: absolute;
     left: 50%;
     transform: translate(-50%, 0px);
     top: 79px;
}
.page3title
{
        width: 100%;
        font-weight: 700;


        font-size: 40px;
        color: #EAF8FF;
        position: absolute;
        top: 21px;
        left: 50%;
        transform: translate(-50%, 0px);  
}
.maintenance-title
{
        width: 100%;
        font-weight: 700;


        font-size: 40px;
        color: #fff;
        position: absolute;
        top: 21px;
        left: 50%;
        transform: translate(-50%, 0px);  
}
.instanttitle
{
        width: 100%;
        font-weight: 700;
        font-size: 41px;
        color: #fff;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0px);
        top: -5px;
}
.customtitle2 {
    width: 100%;
    font-weight: 700;
    font-size: 44px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    top: -27px;
}
/* .sixtitle
{
    font-weight: 700;
    font-size: 45px;
    color: #fff;
    position: absolute;
  
} */
.title-faqs{
    top: 2px;
}
.protitle {
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    top: -29px;
}
.sixtitle2
{
    font-weight: 700;
    font-size: 44px;
    color: #fff;
    position: absolute;
    top: 19px;
    left: 50%;
    transform: translate(-50%, 0px);
}
.sixtitle3
{
    font-weight: 700;
    font-size: 44px;
    color: #fff;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0px);
}
.customtitle
{  
    font-weight: 700;
    font-size: 44px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    top: -21px;
}
.maintainheader
{
    width: 100%;
    font-weight: 700;
    font-size: 41px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    top: -27px;

}
.mainheading
{
    align-self: center;
}
.arrow1
{
    position: absolute !important;
    /* top: 10px !important; */
    right: 50px  !important;
    width :40px !important;
    height :40px !important;
    left : auto  !important;
}
 .arrow2
{
    position: absolute !important;
    /* top: 10px !important; */
    right: 0px !important;
    width :40px !important;
    height :40px !important;
}
.slick-controls{top:77px;
z-index: 20;}
/* .arrow3
{
    position: absolute;
    top: 57px;
    left: 27px;
}
.arrow4
{
    position: absolute;
    top: 57px;
    right: 27px;
} */
.paintingimg
{
    width: 29rem;
}
.serviceimg
{
    height: 250px;
}
:hover.head
{
    color: #EF0A21;
    cursor: pointer;
}
.new
{
    border-bottom: 4px solid #EF0A21;
    margin: auto;  
    display: block;
}
.typeborder {
    border-bottom: 4px solid #EF0A21;
    margin: 0px 200px;
    display: block;
}
.title-service-border{
    width: 100px;
    top: 105px;
}
.custom-title-border
{
    width: 80px;
    top: 55px;
}
.proptality-border
{
    width: 80px;
    top: 55px;
}
.faqborder
{
    width: 60px;
    top: 72px;
}
.brand-border
{
    width: 80px;
    top: 52px;
}
.galleryheader
{ 
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    top: 21px;

}
.titlecolor .newbrandtitle {
    color: #EAF8FF;
}
.proptext .costtitle
{
    color: #EAF8FF;
}
.costtitle {
    font-weight: 700;
    font-size: 44px;
    color: #fff;
    position: absolute;
    font-family: 'Barlow', sans-serif;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
}
.newbrandtitle {
    width: 100%;
    font-weight: 700;
    font-size: 42px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    top: -29px;
}
.titlecolor .newinstanttitle {
    color: #EAF8FF;
}
.newinstanttitle {
    width: 100%;
    font-weight: 700;

    font-size: 34px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    top: -25px;
}
.digitaltitle
{
        width: 100%;
        font-weight: 700;
    
        font-size: 34px;
        color: #fff;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0px);
        top: -26px;
}
.titleforheater {
    font-size: 43px;
    width: 100%;
    font-weight: 700;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -22px;
}
.trusttitle
{
    font-size: 37px;
}
.titlecolor .Cautiontitle
{
    color: #EAF8FF;
}
.Cautiontitle {
    width: 100%;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    top: -24px;
    margin-bottom: 0.5rem;
}
.request
{
    font-weight: 700;
    font-size: 56px;
    color: #fff;
    position: relative;
    padding-bottom: 15px;
}
.requestcall
{
    background: #111C38;
    border-radius: 24px;
    padding: 50px 0px 50px;
    position: relative;
}
.forminput
{
    background: #1B2746;
    border-radius: 16px;
    height: 56px;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    border: none;
    font-family: 'Poppins', sans-serif;
    box-shadow: none;
    width: 254px;
    padding-left: 24px;
}
.btn-submit
{
    background: #EF0A21;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EF0A21;
    border-radius: 16px;
    width: 219px;
}
.btn-submit:hover{

    background: transparent;
    color: #fff;
}
.new-border
{
    width: 80px;
    top: 128px;
}
.img
{
    filter: invert(13%) sepia(80%) saturate(5479%) hue-rotate(348deg) brightness(95%) contrast(103%);
}
.imgalign
{
    align-self: end;
}
.reviewcontainer
{
    width: 50%;
}
.mobiledropdown
{
    width: 100%;
    background-color: #fff;
}
.mySlides {display: none}
img {vertical-align: middle;}
/* Slideshow container */
.slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
}
/* Next & previous buttons */
.prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   padding: 16px;
   margin-top: -22px;
   color: #111C38;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}
/* Position the "next button" to the right */
.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit seethrough */
.prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
   color: black;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
   color: #111C38;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
}
/* The dots/bullets/indicators */
.dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}
/* brands-img*/
.brands-img{
    width : 350px;
    height : auto;
}
 /*------------------------------------ content css-------------------------- */
.content-slider-img{
    width: 100%;
    height: 380px;
}
.requesttext
{
    font-size: 12px;
}
.cautiontext
{
    font-size: 16px;
}
/* footer */

footer {
    background: #EAF8FF;
    padding: 46px 0 42px;
}

.footer-left span {
    display: block;
}

.footer-left p {
    font-size: 15px;
    line-height: 150%;
    color: #111C38;
    margin: 23px 0 38px;
}

.footer-left ul li {
    font-size: 16px;
    line-height: 24px;
    color: #111C38;
    margin: 0 0 11px 0;
}

.footer-left ul li a {
    color: #111C38;
    display: block;
}

.footer-left ul li:last-child {
    margin: 0;
}

.footer-link {
    padding: 0 0 0 30px;
}

.footer-link2 {
    padding: 0 0 0 20px;
}

.footer-link h4 {
    font-weight: 600;
    font-size: 20px;
    color: #111C38;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 20px 0;
}

.footer-link ul li {
    margin-bottom: 11px;
}

.footer-link ul li:last-child {
    margin: 0;
}
.addtext
{
    font-size: 20px;
}
.links {
    font-size: 20px;
    color: #111C38;
    text-decoration: none;
}

:hover.links {
    color: #EF0A21;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.5s ease-in-out;
}

.footer-number form {
    position: relative;
    margin-bottom: 16px;
}

.footer-number form .form-control {
    border: 1px solid #1B2746;
    border-radius: 50px;
    height: 50px;
    background-color: transparent;
    font-weight: 400;
    font-size: 17px;
    color: #111C38;
    box-shadow: none;
    padding-left: 20px;
    padding-right : 90px;
}

.footer-number form .form-control::placeholder {
    color: #111C38;
}

.footer-number form button {
    background-color: #1B2746;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    height: 50px;
    width: 80px;
    border-radius: 0 50px 50px 0;
    border: none;
}

.footer-number form button svg {
    width: 24px;
    fill: #fff;
}

.footer-number form button:hover {
    background-color: #EF0A21;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.5s ease-in-out;
}

.footer-number ul li {
    margin-bottom: 16px;
}

.footer-number ul li:last-child {
    margin: 0;
}

.footer-number ul li a {
    background: #CEE5F1;
    border-radius: 100px;
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 20px;
    color: #0E3554;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21px 15px;
    transition: all 0.5s ease-in-out;
}

.footer-number ul li a:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.5s ease-in-out;
}

.footer-number ul li a svg {
    margin-right: 23px;
}

.footer-number ul li a svg path {
    fill: #111C38;
}
.footer-Address{font-weight: 500;}

.copyright {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright p {
    font-weight: 400;
    font-size: 20px;
    color: #111C38;
    text-align: center;
    padding: 0 10px;
}

.copyright a {
    color: #111C38;
}
:hover.footerlink
{
    color: #EF0A21;
    cursor: pointer;
    
}
.painttitle
{
    font-size: 1.30rem;
}
.carddesc
{
    font-size: 20px;
}
/*--- instant water heater ----*/
.paragraph
{
    font-size: 20px;
}
.faqborder2
{
    border-bottom: 4px solid #EF0A21;
    display: block;
    margin: auto;
    width: 60px;
    top: 97px;
}

.card-img-top1
{
    /* object-fit: cover; */
    box-sizing: border-box;
    width:26rem;
    min-height: 26rem;
}
.card1{
    margin: 10px 0;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    width: 30rem;
}
.menu
{
    background-color: #053257;
}
.dropitem
{
    color: #fff;
}
:hover.dropdown-item
{
    background-color: #EF0A21;
    color: #fff;
}
/* storage */
.storagecard
{
    width: 30rem;
    height: 38rem;
}
.heaterimg
{
    width: 100%;
    height: 18rem;
}
.tableborder
{
    border: 1px solid black;
  border-collapse: collapse;
}
.galleryimg
{
    width: 416px;
    height: 250px;
}
.paintcard
{
    width: 18rem;
    height: 277px;
}
.solarimg
{
    height: 21rem;
}
.brandcard
{
    width: 24rem;
}
.heaterbrand
{
    width: 15rem;
    height: 150px;
}

/**** HEADER *****/
header {
    padding: 26px 27px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}
.navbar-nav .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 5px 0px;
}

.navbar-nav .nav-item .nav-link {
    font-weight: 400;
    color: #111C38;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #EF0A21;
}
.navbar-collapse {
    padding-top: 10px;
}
.navbar-nav .nav-item .nav-link.ask-btn {
    background: #CEE5F1;
    border-radius: 63px;
    padding: 5px 28px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.navbar-nav .nav-item .nav-link.ask-btn:hover {
    background-color: #EF0A21;
    color: #fff;
}

.navbar-nav .nav-item .dropdown-menu li {
    position: relative;
}

.navbar-nav .nav-item .dropdown-menu li:hover ol {
    opacity: 1;
    visibility: visible;
}

.navbar-nav .nav-item .dropdown-menu li ol {
    background-color: #053257;
    padding: 10px 0;
    position: absolute;
    right: -145px;
    top: 0;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
}

.navbar-nav .nav-item .dropdown-menu li ol a {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    display: block;
    padding: 4px 16px;
}

.navbar-nav .nav-item .dropdown-menu li ol a:hover {
    background-color: #EF0A21;
    color: #fff;
}
/* .dropdown-menu
{
    background-color: #053257;
}
.dropdown-item
{
    color: #fff;
}
:hover.dropdown-item
{
    background-color: #EF0A21;
    color: #fff;
} */




/*---------------------------------------------- media query ------------------------------------------------------------ */
@media only screen and (max-width: 1400px){
    .container-div{
        max-width: 1150px;
    }
    .galleryimg
{
    width: 370px;
    height: 250px;
}
.paintcard
{
    width: 17rem;
}
.brandcard
{
    width: 23rem;
}
.heaterbrand
{
    width: 13rem;
    height: 130px;
}
h1{font-size: 38px;}
}
@media only screen and (max-width: 1200px){
    .container-div{
        max-width: 1024px;
    }
    .red-button , .blue-button{
        padding: 16px 38px !important;
    }
    .paintcard
{
    width: 15rem;
    height: 308px;
}
    h1{font-size: 37px;}
    .galleryimg {
        width: 338px;
        height: 230px;
    }
    .forminput
{
    width: 210px;

}
    
}
@media only screen and (max-width: 1100px){
    .container-div{
        max-width: 992px;
    }
    .red-button , .blue-button{
        padding: 16px 28px !important;
    }
    h1{font-size: 36px;}
    .paintingimg
{
    width: 28rem;
}
.galleryimg {
    width: 325px;
    height: 220px;
}
.footer-number ul li a svg {
    margin-right: 10px;
}
.footer-number ul li a {
    font-size: 18px;
}
.links {
    font-size: 18px;
}
.copyright p {
    font-size: 18px;
}
.content-slider-img
{
    height: 350px;
}
.addtext
    {
        font-size: 16px;
    }
}
@media only screen and (max-width: 1024px){
    .container-div{
        max-width: 920px;
    }
    h1 {
        font-size: 33px;
    }
    p{font-size: 15px;}
    .red-button , .blue-button{
        padding: 16px 20px !important;
    }
    .galleryimg {
        width: 300px;
        height: 200px;
    }
    .paintcard {
        width: 14rem;
    }
    .btn-submit {
        width: 200px;
    }
    .forminput
    {
        width: 200px;
    
    }
    .paintingimg {
        width: 27rem;
    }
    .headerfont
{
    font-size: 17px;
}
.title {
    font-size: 39px;
}
.costtitle {
    font-size: 40px;
    top: -29px;
}
.maintainheader {
    font-size: 35px;
    top: -25px;
}
.proptitle {
    font-size: 38px;
    top: 26px;
}
.galleryheader {
    font-size: 35px;
    top: 22px;
}
}
@media only screen and (max-width: 950px){
    .container-div{
        max-width: 768px;
    }
    .red-button , .blue-button{
        padding: 16px 38px !important;
    }
    .galleryimg {
        width: 255px;
        height: 180px;
    }
    .paintingimg {
        width: 23rem;
    }
    .btn-submit {
        width: 170px;
    }
    .forminput {
        width: 170px;
    }
    .paintcard
    {
        width: 18rem;
        height: 277px;
    }
    .factortitle{font-size: 34px;}
    .headerfont {
        font-size: 13px;
    }
    .footer-link2 {
        padding: 0 0 0 10px;
    }
}
@media only screen and (max-width: 850px){
    .container-div{
        max-width: 667px;
    }
    .paintingimg {
        width: 33rem;
    }
    .red-button, .blue-button {
        padding: 16px 15px !important;
    }
    .formargin
    {
        margin-top: 24px;
    }
    .galleryimg {
        width: 320px;
        height: 200px;
    }
    .forminput {
        width: 200px;
    }
    .btn-submit {
        width: 200px;
    }
    .arrow1 {
        position: absolute !important;
        top: 45px !important;
        right: 50px !important;
        width: 30px !important;
        height: 30px !important;
        left: -370px!important;
    }
    .arrow2 {
        position: absolute !important;
        top: 45px !important;
        right: 300px !important;
        width: 30px !important;
        height: 30px !important;
    }
    
        
}
@media only screen and (max-width: 768px){
    .container-div{
        max-width: 576px;
    }
    .paintcard {
        width: 16rem;
        height: 277px;
    }
    .forinput
    {
        margin-top: 24px;
    }
    .forminput {
        width: 250px;
    }
    .btn-submit {
        width: 250px;
    }
    .galleryimg {
        width: 285px;
        height: 180px;
    }
    .footer-number ul li a {
        font-size: 14px;
    }
    .footer-link h4 {
        font-size: 18px;
    }
    .links {
        font-size: 17px;
    }
    .maintainheader {
        font-size: 33px;
        top: -23px;
    }
    .arrow1 {
        position: absolute !important;
        top: 45px !important;
        right: 50px !important;
        width: 30px !important;
        height: 30px !important;
        left: -325px!important;
    }
    .arrow2 {
        position: absolute !important;
        top: 45px !important;
        right: 251px !important;
        width: 30px !important;
        height: 30px !important;
    }
    .footer-link {
        padding: 0px;
    }
}
@media only screen and (max-width: 650px){
    .container-div{
        max-width: 470px;
    }
    .red-button , .blue-button{
        padding: 16px 32px !important;
    }
    .paintcard {
        width: 14rem;
        height: 277px;
    }
    .galleryimg {
        width: 400px;
        height: 250px;
    }
    .forinput2
    {
        margin-top: 24px;
    }
    .forminput {
        width: 300px;
    }
    .btn-submit {
        width: 300px;
    }
    .links {
        font-size: 16px;
    }
    .footer-link h4 {
        
    font-size: 18px;
    }
    .addtext
    {
        font-size: 18px;
    }
    .request {
        font-size: 42px;
    }
    .reviewcontainer
    {
        width: 100%;
    }
    .arrow1 {
        position: absolute !important;
        top: 77px !important;
        right: 50px !important;
        width: 40px !important;
        height: 40px !important;
        left: -280px!important;
    }
    .arrow2 {
        position: absolute !important;
        top: 77px !important;
        right: 193px !important;
        width: 40px !important;
        height: 40px !important;
    }
}
@media only screen and (max-width: 500px){
    .container-div{
        max-width: 375px;
    }
    .red-button , .blue-button{
        padding: 16px 14px !important;
    }
    .paintcard {
        width: 20rem;
    }
    .galleryimg {
        width: 320px;
        height: 200px;
    }
    .boxmargin
    {
        margin-top: 24px;
    }
    .links {
        font-size: 16px;
    }
    .footer-link h4 {
        font-size: 18px;
    }
    .content-slider-img
    {
        height: 260px;
    }
    .title {
        font-size: 36px;
    }
    .arrow1 {
        position: absolute !important;
        top: 77px !important;
        right: 50px !important;
        width: 40px !important;
        height: 40px !important;
        left: -211px!important;
    }
    .arrow2 {
        position: absolute !important;
        top: 77px !important;
        right: 124px !important;
        width: 40px !important;
        height: 40px !important;
    }

}
@media only screen and (max-width: 441px){
    .container-div{
        max-width: 333px;
    }
    h1 {
        font-size: 30px;
    }
    .carddesc {
        font-size: 18px;
    }    
    .galleryimg {
        width: 280px;
        height: 180px;
    }
    .footer-number ul li a {
        font-size: 16px;
    }
    .footer-link2 {
        padding: 0px 0 0 30px;
    }
    .copyright p {
        font-size: 16px;
    }
    .addtext
    {
        font-size: 16px;
    }
    .request {
        font-size: 32px;
    }
    .brands-img {
        width: 300px;
        height: auto;
    }
    .red-button, .blue-button 
    {
        padding: 16px 38px !important;
    }
    .links {
        font-size: 14px;
    }
    .proptitle {
        font-size: 33px;
        top: 27px;
        width: 100%;
    }
    .maintainheader {
        display: none;
    }
    .costtitle {
        font-size: 37px;
        top: -27px;
    }
    .footer-link2 {
        padding: 0px 0 0 13px;
    }
    .footer-number ul li a {
        padding: 15px 15px;
    }
    
}
@media only screen and (max-width: 375px){
    .container-div{
        max-width: 300px;
    }
    .copyright p {
        font-size: 14px;
    }
    h1{
        font-size: 27px;
    }
    .carddesc {
        font-size: 15px;
    }
    .painttitle {
        font-size: 1.20rem;
    }
.galleryheader {
    font-size: 31px;
    top: 22px;
}
.arrow2 {
    position: absolute !important;
    top: 69px !important;
    right: 103px !important;
    width: 40px !important;
    height: 40px !important;
}
.arrow1 {
    position: absolute !important;
    top: 70px !important;
    right: 50px !important;
    width: 40px !important;
    height: 40px !important;
    left: -193px!important;
}

}


.heater-brands-img{
    width: 240px;  
     /* media >  600px  >> width:200px; */
    min-height: 150px;


}
